@import "tailwindcss";

@layer utilities {
  .font-serif-title {
    font-family: 'Instrument Serif', Georgia, Cambria, "Times New Roman", Times, serif;
  }

  /* Navigation Link Underline Effect */
  .nav-link-underline {
    position: relative;
  }
  .nav-link-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%;
    background-color: #0F172A;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
    border-radius: 9999px;
  }
  .nav-link-underline:hover::after {
    width: 100%;
  }

  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@keyframes wave-move {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
